header {
    background-image: url("../img/pattern.png");
    background-size: 500px;
    background-color: rgb(102, 153, 255);
    background-repeat: repeat-x;
    height: 130px;    
}

.logo{
    height: 100px;
    width: 180px;  
    background-image: url("../img/logo.svg");  
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
h1 {
    font-size: 30px;
}
#scrittoda {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}
#nomeautore {
    color: lightskyblue;
    font-size: 15px;
    font-weight: bold;
}
#data{
    color: grey;
    font-size: 10px;
    font-weight: bold;
}
.evidenziato{
    background-color: yellow ;

}
