body {
    width: 1180px;
    margin: 0 auto;
   }
 header {
    background-image: url("../img/pattern.png");
    background-size: 500px;
    background-color: rgb(102, 153, 255);
    background-repeat: repeat-x;
    height: 100px;   
}
#logo{
     margin-top: 25px; 
    height: 100px;
    width: 180px;  
}
h1 {
    font-size: 35px;
    margin-bottom: 1px;
}
#scrittoda {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}
#nomeautore {
    color: rgb(89, 148, 238);
    font-size: 15px;
    font-weight: bold;
}
#data {
    color: grey;
    font-size: 12px;
    font-weight: bold;
}
figcaption {
    font-size: 10px;
}
.evidenziato {
    background-color: yellow ;
}
table {
    border-collapse: collapse;
   }
th {
    background-color:rgb(3, 154, 241) ;
    color: white;   
    text-align: left;
}
.dispari {
    background-color: rgb(160, 212, 245);
}
.colonna1 {
    width: 25%;
}
.colonna2 {
    width: 25%;
}
.colonna3 {
    width: 50%;
}
h3 {
    color: grey;    
}
.correlati1 {
    background-image: url("../img/graph.jpg");
    width: 200px;
    height: 200px;
    color: white;    
}
.correlati2 {
    background-image: url("../img/monitor.jpg");
    width: 200px;
    height: 200px;
    color: white;    
}